.banner {
    background-color: #f9f3f0;
    padding: 10px;
    height: auto;
}

select{
    padding: 5px 15px;
    border-radius:10px ;
    font-size: 15px;
    color: #3577f0;
}

#search{
    margin: 10px 0;
    width: 50%;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #999999;
}

