* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa;
    font-family: 'Roboto', sans-serif;
}

.filterdatabtn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.container {
    width: 1500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.companyName {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00796b;
}

.filterdata {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtersection {
    background-color: #ffe0b2;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.btn{
    margin: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #004d40;
    border: none;
    color: white;
}
.mainSection {
    display: flex;
}

.stockSection {
    width: 20%;
    margin-bottom: 20px;
}

.card1 {
    background-color: #ffe0b2;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card1 p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.chartContainer {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linechart {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
}

.piechart {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    height: 50%;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #004d40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}