*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 237, 224);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.header{
    justify-content: center;
    display: flex;
}
h1{
    text-align: center;
    padding: 20px 0;
}
.form-class{
    justify-content: center;
    display: flex;
    width: 700px;
}
.form{
    width: 100%
}
.form-control{
    padding: 10px 0;
}
input{
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    border: 1px solid rgb(255, 150, 22);
}

input:focus{
    outline: none;
}
.radio{
    width: 40px;
}
.form-btn{
    justify-content: center;
    display: flex;
    margin: 15px 0;
}
button{
    background-color: rgb(0, 149, 255);
    color: #fff;
    border-radius: 10px;
    padding: 7px 10px;
    margin: 5px;
    border: none;
}
button:hover{
    background-color: rgb(0, 89, 255);
}
table{
    width: 100%;
    background-color: rgb(249, 224, 191);
    margin-top: 30px;
    border-spacing:5px ;
}
td,th{
    padding: 10px;
    
}
tr:nth-child(even){
    background-color: rgb(250, 202, 142);
}
tr:nth-child(odd){
    background-color: rgb(245, 212, 172);
}
th{
    background-color: rgb(250, 202, 142);
}
.del{
    background-color: tomato;
}
.del:hover{
    background-color: rgb(255, 38, 0);
}
.edit{
    background-color: rgb(0, 150, 0);
}
.edit:hover{
    background-color: green;
}
.filtbtns{
    display: flex;
    justify-content: center;
}