* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #181717;
    color: white;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}
h1 {
    text-align: center;
    padding: 15px 0;
}
.player {
    display: flex;
    justify-content: center;
}
.player-right{
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #2d2f31;
    padding: 20px;
    margin: 0 20px;
}
.player-left{
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #2d2f31;
    padding: 20px;
    margin: 0 20px;
}
.m-left{
    margin-left: 60px;
}
.titlebar {
    text-align: center;
    padding: 10px 0;
}
.imgSection {
    display: flex;
    justify-content: center;
    height: 300px;
}
.imgSection img {
    max-width: 100%;
    max-height: 100%;
}
.songChannel {
    padding: 10px 0;
    margin: 10px 0;
}
.songbar{
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 10px;
    background-color: #181717;
    outline: none;
}

.songbar::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #ff3800;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.songName {
    text-align: center;
    padding: 15px 0;
}
.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.controls {
    width: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;
}
.controls:hover{
    box-shadow: 2px 2px 4px #afb9c5;
    transform: translateY(-3px);
}
#shuffleOn,#pause,#playSongImg{
    display: none;
}

.formcontrol{
    margin: 10px 0;
    padding: 7px 10px;
    width: 100%;
    border-radius: 10px;
    outline: #2d2f31;
    background-color: #181717;
    color: aliceblue;
}
.center{
    display: flex;
    justify-content: center;
}
.center button{
    padding: 7px 10px;
    margin: 10px 0;
    font-size: 17px;
    border-radius: 10px;
    background-color: #2d2f31;
    transition: all 1s;
    cursor: pointer;
    color: #ff3800;
}
.center button:hover{
    box-shadow: 2px 2px 4px white;
}
h3{
    text-align: center;
    padding: 10px 0;
}
ul li{
    line-height: 2;
    cursor: pointer;   
}
.displaylist{
    display: flex;
    justify-content: space-between;
}
.displaylist span{
  align-content: center;
  background-color: #ff3800;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}