* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1500px;
    margin: 0 auto;
}
header {
    padding: 20px;
    text-align: center;
    color: #5f0606;
}

.AddTask {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.AddTask input{
    padding:  7px 15px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

.AddTask button{
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #00d9ff;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}
.taskHead{
    font-size: 30px;
    text-align: center;
    color: #a50000;
}
.todo-items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 150px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 20px;
}


.Todo_Card {
    margin: 10px;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: rgba(240, 248, 255, 0.603);

}
.taskList{
    font-size: 15px;
}
 .card-btn{
    margin: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 10px;
 }
 .card-btn button{
   padding: 5px 10px;
   font-weight: 400;
   border-radius: 10px;
   background-color: #fd0f0fd3;
   border: transparent;
   color: aliceblue;
   cursor: pointer;
 }

 .Headtitle_1{
    background-color: #0fcefd80;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
 }
 .Headtitle_2{
    background-color: #fd0f0f80;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
 }
 .Headtitle_3{
    background-color: #0ffd0f80;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
 }

 .active{
    background-color: #5f0606;
    color: white;
 }